.hamburger {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: none;
  z-index: 1;
  background-color: aliceblue;
  border-radius: 2px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #2ba2b4;
  border-radius: 2px;
}