.container {
    position: relative;
    width: 100%;
}

.dropdownHeader {
    display: flex;
    align-items: center;
    padding: 12px 15px; 
    border: none;
    background-color:rgb(224, 244, 244); 
    border-radius: 8px; 
    cursor: pointer;
    font-size: 16px;
    color: #006E8C;
}

.arrow {
    margin-left: auto;
    color: #777;
    font-size: 12px;
}

.optionsList {
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    padding: 5px 0;
}

.optionItem {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

.optionItem:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #e8e8e8; 
    font-weight: 600;
}

.colorCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0; 
}

.checkMark {
    margin-left: auto;
    color: black;
    font-size: 1.2em;
}

.error {
    color: #e53e3e;
    margin-top: 4px;
    font-size: 12px;
}