.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 1000;
}

.sidebar {
    width: 50%;
    max-width: 300px;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
    animation: slideIn 0.3s ease forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.profileImgWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .profileImg {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .placeholderImg {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2ba2b4;
}

.email {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.logoutBtn {
    padding: 10px 20px;
    background-color: #cae8ee;
    color: #074b56;
    border-color: #074b56;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
}