.targetDaysContainer {
    margin-top: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #006E8C;
}

.daysWrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 6px; 
    justify-content: flex-start; 
}

.dayButton {
    width: calc(25% - 5px); 
    padding: 8px 0; 
    text-align: center;
    border-radius: 8px; 
    border: none;
    font-weight: 600;
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.2s;
        flex-grow: 0; 
}

.unselectedDay {
    background-color:#AAD1DA; 
    color: #006E8C; 
}

.selectedDay {
    background-color: #006E8C; 
    color: #AAD1DA;
}

.error {
    color: #e53e3e; 
    margin-top: 4px;
    font-size: 12px;
}